.icon{
  width: 2rem;
  height: 2rem;
}

.wf-label{
  display: flex;
  justify-content: center;
}

.wf-avatar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wf-context-avatar{
  width: 15rem;
}