<ng-container>
    <div class="
    tui-col_lg-2
    tui-col_md-2
    tui-col_sm-2">
        <tui-svg src="tuiIconMenuLarge" class="
        icon tui-space_left-2
" (click)="switchBurger()">
        </tui-svg>
    </div>
    <div class="
    wf-label
    tui-col-offset_lg-2
    tui-col-offset_md-2
    tui-col_lg-4
    tui-col_md-4
    tui-col_sm-4">
        <span class="tui-text_h3">WhalefortAnalytics</span>
    </div>
    <div class="
    tui-col-offset_lg-2
    tui-col-offset_md-2
    tui-col_lg-2
    tui-col_md-2
    tui-col_sm-2">
        <span class="tui-text">Тута будет профиль</span>
    </div>
</ng-container>