<div class="tui-container tui-container_fullwidth">
    <div class="tui-row wf-align tui-row_align_end ">
        <span class="
         tui-text_h2
         tui-col-offset_lg-4
         tui-col-offset_md-4
         tui-col-offset_sm-4
         tui-col_lg-4
         tui-col_md-4
         tui-col_sm-4
         wf-label">WhalefortAnalytics</span>
    </div>
    <div class="tui-row wf-central tui-row_align_start">
        <tui-island class="
        wf-island
        tui-col-offset_lg-4
        tui-col-offset_md-4
        tui-col-offset_sm-4
        tui-col_lg-4
        tui-col_md-4
        tui-col_sm-4"
                    [hoverable]="true"
        >
            <span class="tui-island__title">Вход в аккаунт</span>
            <div class="tui-island__content">Для полного доступа нужно запровайдить доступ Messages</div>
            <button tuiButton appearance="flat" class="tui-island__footer-button wf-foot-button" (click)="loginVK()">VK OpenAPI</button>
        </tui-island>
    </div>
    <div class="tui-row wf-align"></div>
</div>