<div class="tui-container_fullwidth">
    <wf-cabinet-header class="tui-row tui-row_align_center" (toggleMenu)="switchAside()"></wf-cabinet-header>
    <div class="tui-row">
        <tui-expand [expanded]="isAsideExpanded" class="wf-menu tui-col_lg-2 tui-col_md-2">
            <ng-template tuiExpandContent>
                <wf-cabinet-side-menu class="tui-col_lg-1 tui-col_md-1"></wf-cabinet-side-menu>
            </ng-template>
        </tui-expand>
        <router-outlet></router-outlet>
    </div>
</div>